*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper,
.projects {
    width: 100vw;
    height: 60vw;
    background-color: #5D576B;
    color:white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand{
    margin-top: -7px;
}

.brand span{
    color: #d7bce8;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li{
    list-style: none;
}

.menu a{
    color:white;
    text-decoration: none;
    padding: 10px 20px;
}

.menu .active{
    color: #d7bce8;
}

.menu a:hover{
    background-color: #8884ff;
    color:#5D576B;
    transition: ease .4s;
}

.main{
    margin: 0 auto;
    width: 80vw;
    height: 80 vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

h1{
    font-size: 3em;
}

span{
    color: #d7bce8;
}

.button,
.project-details{
    padding: 10px 20px;
    background-color: #d7bce8;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    
}

.button{
    background-color: #8884ff;
    transition: ease .4s;
}
.project-details:hover{
    background-color: #8884ff;
    transition: ease .4s;
}

.main img{
    width: 70%;
    height: 100%;
    margin: 0px 0px 0px 50px;
    border: 7px solid #d7bce8;
}

.about{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items: center;
}

.about img{
    width: 100%;
    grid-column: 1/5;
}

.about-info{
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2{
    font-size: 2em;
    color: #5D576B;
}

.divider{
    height: 4px;
    width: 60px;
    background-color: #8884ff;
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p{
    margin-bottom: 1em;
}

.projects-headings{
    width: 100vw;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
    padding: 5em;
    padding-bottom: 2em;
}

.projects-headings h2{
    font-size: 2.5em;
}

.projects .container{
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
    display: flex;
    
    justify-content: center;
}

.card{
    width: 400px;
    margin: 1em;
    
}

.card_img{
    width: 100%;
    height: 20%;
    background-image: url(../img/FP-636x209.png);
    background-size: cover;
}

.card_img2{
    width: 100%;
    height: 20%;
    background-image: url(../img/social-media-icon.png);
    background-size: cover;
}

.card_title{
    padding: 20px;
}

.project-links{
    display: flex;
    justify-content: space-evenly;
}

.project-links a{
    color: white;
    text-decoration: none;
}

.project-links i{
    font-size: 1.5em;
}

.card .project-details{
    margin: 0 auto;
    margin: 1em;
}

.card .project-details a{
    text-decoration: none;
    color: black;
}

.project-details-content{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1em;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: #d7bce8;
}

.footer-content h2{
    font-size: 0.9em;
}

.footer-content h5{
    font-size: 0.7em;
}

.footer .social{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    margin-top: 0.5em;
}

.social{
    font-size: 1.2em;
}

.social{
    text-decoration: none;
    color: black;
}